*{
  margin: 0;
  box-sizing: border-box;
}
:root{
  --all_transitions: all linear .35s;
}

body{
  /* background-color: black; */
  /* background: url('bgmain.jpg') repeat-y center/cover fixed; */
  width: 100vw;
  height: 100vh;
}

.nav_bar{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_items{
  /* background: rgb(35, 45, 65); */
  font-size: 1.9rem;
  color: white;
  padding: 20px;
  display: inline-block;
  width: 10vw;
  height: 7.5vh;
  text-align: center;
  text-decoration: none;
}
.contacts_bar{
  width: 100vw;
  display: flex;
  justify-content: center;
}




